:root {
  --tailleImage: 800px;
  --textColor: white;
  --lightColor: white;
  --darkColor: black;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  background: linear-gradient(to right, #8c1105, #25221e);
  color: var(--textColor);
}
.container .hero {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.container .hero .right img {
  width: var(--tailleImage);
}
.container .hero .left .buttons button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 12px;
  outline: none;
  font-weight: 900;
}

.container .hero .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 50px;
  color: white;
}

.texts {
  width: 80%;
  margin: 20px;
}
#Metier {
  font-size: 4rem;
  color: whi;
}

section {
  display: flex;
  width: 100%;
  height: 100vh;
}
#main {
  background-color: black;
  color: white;
  margin-right: 12px;
}
#secondaryButton {
  background-color: white;
  border: 1px solid black;
}
.quality-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.boxWork {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boxWork #title {
margin-bottom: 60px;
}

hr {
  border: 0.5px soolid white;
}
.workDetail {
  display: flex;
  justify-content: space-between;
}
